.my-container {
  padding: 0 100px;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
}

.my-col {
  width: 14.285714285714285714285714285714%;
  padding: 5px;
}

.my-box {
  width: 100%;
  height: 200px;
}

.red {
  background-color: #f0466f;
}

.yellow {
  background-color: #ffd166;
}

.blue {
  background-color: #1389b2;
}

.green {
  background-color: #0bd6a1;
}

.dark-blue{
    background-color: #083B4C;
}

.line-h-200 {
  line-height: 200px;
}

.text-center {
  text-align: center;
}

.h1-custom{
    font-size: 60px;
    font-weight: bolder;
    padding: 20px 0;
    color: white;
}
